@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
    color: #1B3B6F;
    background-color: #1C7293;
}
#main-header {
    margin: 0;
    margin-bottom: 10px;
    padding: 25px 500px 25px 25px;
    background-color: #065A82;
}
.sugg-name {
    padding-right: 0;
    display: inline;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 30px;
}

.sugg-exp, .sugg-name {
    color: #1B3B6F;
    font-weight: 900;
}

.sugg-exp, .sugg-name, .sugg-shortdesc {
    /* background-color: #b5b1b1; */
    position: relative;
    z-index: 5;
    
    filter: drop-shadow();
}

.sugg-exp {
    font-size: 30px;
    display: inline;
    margin-bottom: 5px;
}
.sugg-shortdesc {
    
    margin-top: 2.5px;
    margin-left: 10px;
}

.sugg-container {
    padding: 10px;
    background-color: #065A82;

}