body {
    background-color: #252525;
    color: white;
    font-family: monospace;
    text-align: center;
}

#center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 64px;
}

p {
    font-size: 16px;
}

#flavor-text {
    margin-bottom: 16px;
}

.test {
    color: white;
    font-family: monospace;
    font-size: 32px;

    border: 1px solid #414141;
    background-color: #414141;
    margin-top: 16px;
    padding: 16px 256px 16px 256px;;
    border-radius: 15px;
    
    text-wrap: nowrap;
}

.test:hover {
    background-color: #525252;
}