@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.challenge {
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    float: left;
    flex: 1 0 21%;
    
}

.challenge-title, .challenge-exp, .challenge-shortdesc {
    text-align: center;
    padding-right: 2px;
    padding-left: 2px;
}

#challenge-container
{
    display: flex;
    flex-wrap: wrap;
    height:auto;
}

/* #challenge-container:first-child
{
    margin-right: 20px;
} */