@font-face {
    font-family: Yorkten;
    src: url("YorktenNormRegular.otf");
}
html {
    margin-top: 0px;
    color: white;
    background-color: #333;
    font-family: Yorkten;
}
p {
    font-size: 15px;
}
a {
    color: rgb(3, 120, 199);
}
a:visited {
    color: rgb(3, 120, 199);
}
a:hover {
    color: rgb(3, 120, 199);
}
.hidden_link {
    color: white;
}
.hidden_link:visited {
    color: white;
}
.hidden_link:hover {
    color: white;
}